<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<tinyMediaManager version="2.6.4">
    <titlePrefix>
        <prefix>A</prefix>
        <prefix>An</prefix>
        <prefix>Das</prefix>
        <prefix>Der</prefix>
        <prefix>Die</prefix>
        <prefix>Ein</prefix>
        <prefix>Eine</prefix>
        <prefix>The</prefix>
    </titlePrefix>
    <videoFileTypes>
        <filetype>.3gp</filetype>
        <filetype>.asf</filetype>
        <filetype>.asx</filetype>
        <filetype>.avc</filetype>
        <filetype>.avi</filetype>
        <filetype>.bdmv</filetype>
        <filetype>.bin</filetype>
        <filetype>.bivx</filetype>
        <filetype>.dat</filetype>
        <filetype>.disc</filetype>
        <filetype>.divx</filetype>
        <filetype>.dv</filetype>
        <filetype>.dvr-ms</filetype>
        <filetype>.fli</filetype>
        <filetype>.flv</filetype>
        <filetype>.h264</filetype>
        <filetype>.img</filetype>
        <filetype>.iso</filetype>
        <filetype>.m2ts</filetype>
        <filetype>.m2v</filetype>
        <filetype>.m4v</filetype>
        <filetype>.mkv</filetype>
        <filetype>.mov</filetype>
        <filetype>.mp4</filetype>
        <filetype>.mpeg</filetype>
        <filetype>.mpg</filetype>
        <filetype>.mt2s</filetype>
        <filetype>.mts</filetype>
        <filetype>.nrg</filetype>
        <filetype>.nsv</filetype>
        <filetype>.nuv</filetype>
        <filetype>.ogm</filetype>
        <filetype>.pva</filetype>
        <filetype>.qt</filetype>
        <filetype>.rm</filetype>
        <filetype>.rmvb</filetype>
        <filetype>.strm</filetype>
        <filetype>.svq3</filetype>
        <filetype>.ts</filetype>
        <filetype>.ty</filetype>
        <filetype>.viv</filetype>
        <filetype>.vob</filetype>
        <filetype>.vp3</filetype>
        <filetype>.wmv</filetype>
        <filetype>.xvid</filetype>
    </videoFileTypes>
    <audioFileTypes>
        <filetype>.a52</filetype>
        <filetype>.aa3</filetype>
        <filetype>.aac</filetype>
        <filetype>.ac3</filetype>
        <filetype>.adt</filetype>
        <filetype>.adts</filetype>
        <filetype>.aif</filetype>
        <filetype>.aiff</filetype>
        <filetype>.alac</filetype>
        <filetype>.ape</filetype>
        <filetype>.at3</filetype>
        <filetype>.atrac</filetype>
        <filetype>.au</filetype>
        <filetype>.dts</filetype>
        <filetype>.flac</filetype>
        <filetype>.m4a</filetype>
        <filetype>.m4b</filetype>
        <filetype>.m4p</filetype>
        <filetype>.mid</filetype>
        <filetype>.midi</filetype>
        <filetype>.mka</filetype>
        <filetype>.mp3</filetype>
        <filetype>.mpa</filetype>
        <filetype>.oga</filetype>
        <filetype>.ogg</filetype>
        <filetype>.pcm</filetype>
        <filetype>.ra</filetype>
        <filetype>.ram</filetype>
        <filetype>.rm</filetype>
        <filetype>.tta</filetype>
        <filetype>.wav</filetype>
        <filetype>.wave</filetype>
        <filetype>.wma</filetype>
    </audioFileTypes>
    <subtitleFileTypes>
        <filetype>.aqt</filetype>
        <filetype>.ass</filetype>
        <filetype>.cvd</filetype>
        <filetype>.dks</filetype>
        <filetype>.idx</filetype>
        <filetype>.jss</filetype>
        <filetype>.mpl</filetype>
        <filetype>.pgs</filetype>
        <filetype>.pjs</filetype>
        <filetype>.psb</filetype>
        <filetype>.rt</filetype>
        <filetype>.smi</filetype>
        <filetype>.srt</filetype>
        <filetype>.ssa</filetype>
        <filetype>.ssf</filetype>
        <filetype>.sub</filetype>
        <filetype>.svcd</filetype>
        <filetype>.ttxt</filetype>
        <filetype>.usf</filetype>
        <filetype>.vobsub</filetype>
    </subtitleFileTypes>
    <wolDevices/>
    <clearCacheShutdown>false</clearCacheShutdown>
    <deleteTrashOnExit>false</deleteTrashOnExit>
    <fanartClientKey></fanartClientKey>
    <fontFamily>Dialog</fontFamily>
    <fontSize>12</fontSize>
    <imageCache>true</imageCache>
    <imageCacheBackground>false</imageCacheBackground>
    <imageCacheType>SMOOTH</imageCacheType>
    <language>en</language>
    <logLevel>10000</logLevel>
    <mediaPlayer></mediaPlayer>
    <movieScraperMetadataConfig>
        <artwork>true</artwork>
        <cast>true</cast>
        <certification>true</certification>
        <collection>true</collection>
        <genres>true</genres>
        <originalTitle>true</originalTitle>
        <plot>true</plot>
        <rating>true</rating>
        <runtime>true</runtime>
        <tagline>true</tagline>
        <title>true</title>
        <trailer>true</trailer>
        <year>true</year>
    </movieScraperMetadataConfig>
    <movieSettings>
        <movieDataSource/>
        <movieNfoFilename>
            <filename>MOVIE_NFO</filename>
        </movieNfoFilename>
        <moviePosterFilename>
            <filename>POSTER_JPG</filename>
            <filename>POSTER_PNG</filename>
        </moviePosterFilename>
        <movieFanartFilename>
            <filename>FANART_JPG</filename>
            <filename>FANART_PNG</filename>
        </movieFanartFilename>
        <badWords/>
        <asciiReplacement>false</asciiReplacement>
        <buildImageCacheOnImport>false</buildImageCacheOnImport>
        <certificationCountry>US</certificationCountry>
        <detectMovieMultiDir>false</detectMovieMultiDir>
        <enableMovieSetArtworkFolder>false</enableMovieSetArtworkFolder>
        <imageBanner>false</imageBanner>
        <imageClearart>false</imageClearart>
        <imageColumnVisible>true</imageColumnVisible>
        <imageDiscart>false</imageDiscart>
        <imageExtraFanart>false</imageExtraFanart>
        <imageExtraFanartCount>5</imageExtraFanartCount>
        <imageExtraThumbs>false</imageExtraThumbs>
        <imageExtraThumbsCount>5</imageExtraThumbsCount>
        <imageExtraThumbsResize>true</imageExtraThumbsResize>
        <imageExtraThumbsSize>300</imageExtraThumbsSize>
        <imageFanartSize>LARGE</imageFanartSize>
        <imageLanguagePriority>true</imageLanguagePriority>
        <imageLogo>false</imageLogo>
        <imagePosterSize>BIG</imagePosterSize>
        <imageScraperFanartTv>true</imageScraperFanartTv>
        <imageScraperTmdb>true</imageScraperTmdb>
        <imageThumb>false</imageThumb>
        <imdbScrapeForeignLanguage>false</imdbScrapeForeignLanguage>
        <movieConnector>XBMC</movieConnector>
        <movieRenamerCreateMoviesetForSingleMovie>false</movieRenamerCreateMoviesetForSingleMovie>
        <movieRenamerFilename>$T ($Y) $V $A</movieRenamerFilename>
        <movieRenamerNfoCleanup>false</movieRenamerNfoCleanup>
        <movieRenamerPathname>$T ($Y)</movieRenamerPathname>
        <movieRenamerSpaceReplacement>_</movieRenamerSpaceReplacement>
        <movieRenamerSpaceSubstitution>false</movieRenamerSpaceSubstitution>
        <movieScraper>TMDB</movieScraper>
        <movieSetArtworkFolder>MoviesetArtwork</movieSetArtworkFolder>
        <nfoColumnVisible>true</nfoColumnVisible>
        <runtimeFromMediaInfo>false</runtimeFromMediaInfo>
        <scrapeBestImage>true</scrapeBestImage>
        <scraperFallback>false</scraperFallback>
        <scraperLanguage>en</scraperLanguage>
        <scraperThreshold>0.75</scraperThreshold>
        <subtitleColumnVisible>true</subtitleColumnVisible>
        <syncTrakt>false</syncTrakt>
        <trailerColumnVisible>true</trailerColumnVisible>
        <trailerQuality>HD_720</trailerQuality>
        <trailerScraperHdTrailers>true</trailerScraperHdTrailers>
        <trailerScraperOfdb>true</trailerScraperOfdb>
        <trailerScraperTmdb>true</trailerScraperTmdb>
        <trailerSource>YOUTUBE</trailerSource>
        <useTrailerPreference>false</useTrailerPreference>
        <watchedColumnVisible>true</watchedColumnVisible>
        <writeActorImages>false</writeActorImages>
        <yearColumnVisible>true</yearColumnVisible>
    </movieSettings>
    <showNotifications>true</showNotifications>
    <traktAPI></traktAPI>
    <traktPassword>eKPacIjNyxefvLp/xN15dw==</traktPassword>
    <traktUsername></traktUsername>
    <tvShowScraperMetadataConfig>
        <aired>true</aired>
        <artwork>true</artwork>
        <cast>true</cast>
        <certification>true</certification>
        <episodes>true</episodes>
        <genres>true</genres>
        <plot>true</plot>
        <rating>true</rating>
        <runtime>true</runtime>
        <status>true</status>
        <title>true</title>
        <year>true</year>
    </tvShowScraperMetadataConfig>
    <tvShowSettings>
        <tvShowDataSource/>
        <asciiReplacement>false</asciiReplacement>
        <buildImageCacheOnImport>false</buildImageCacheOnImport>
        <certificationCountry>US</certificationCountry>
        <imageScraperFanartTv>true</imageScraperFanartTv>
        <imageScraperTvdb>true</imageScraperTvdb>
        <renamerAddSeason>true</renamerAddSeason>
        <renamerAddShow>true</renamerAddShow>
        <renamerAddTitle>true</renamerAddTitle>
        <renamerFormat>WITH_SE</renamerFormat>
        <renamerSeasonFolder>Season $1</renamerSeasonFolder>
        <renamerSeparator>_</renamerSeparator>
        <renamerSpaceReplacement>_</renamerSpaceReplacement>
        <renamerSpaceSubstitution>false</renamerSpaceSubstitution>
        <renamerTvShowFolder>true</renamerTvShowFolder>
        <renamerTvShowFolderYear>false</renamerTvShowFolderYear>
        <scrapeBestImage>true</scrapeBestImage>
        <scraperLanguage>en</scraperLanguage>
        <syncTrakt>false</syncTrakt>
        <tvShowScraper>TVDB</tvShowScraper>
    </tvShowSettings>
    <xbmcHost></xbmcHost>
    <xbmcPassword>eKPacIjNyxefvLp/xN15dw==</xbmcPassword>
    <xbmcUsername></xbmcUsername>
</tinyMediaManager>
